<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet" type="text/css" />
    <title>{% block title %}Index{% endblock %}</title>
    <style>
        html {
        scrollbar-gutter: auto !important;
        }
    </style>
</head>
<body class="m-4">
    <div class="rounded-lg bg-primary">
        <div class="navbar shadow-sm">
            <div class="flex-1">
                <a href="/" class="btn btn-ghost text-xl">📚 Catalogue de Livres & Auteurs</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="{{ url_for('author.author') }}">Authors</a></li>
                    <li><a href="{{ url_for('category.category') }}">Category</a></li>
                    <li><a href="{{ url_for('book.book') }}">Book</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
            {% block content %}{% endblock %}
    </div>    
</body>
</html>